<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techzara certificate</title>
    <link rel="stylesheet" href="{{ asset('assets/_certificate.css') }}" />
    <link rel="shortcut icon" href="{{ asset('techzara_image/icon.jpeg') }}">
</head>
<body>
<div id="global-card">
    <div class="noeuds">
        <div class="circle-radius"></div>
        <div class="circle-white">
            <img src="{{ asset('image/logo.jpeg') }}" class="slash" style="width: 150px;height: 150px;border-radius: 50%" alt="">
        </div>
        <svg
                class="award"
                version="1.1"
                id="Calque_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 141.7 141.7"
                style="enable-background: new 0 0 141.7 141.7;"
                xml:space="preserve"
        >
          <style type="text/css">
              .st0 {
                  fill: #fdfdfd;
              }
          </style>
            <g>
                <path
                        class="st0"
                        d="M139.1,74.1c3.5-1.8,3.5-4.7,0-6.5c-3.5-1.8-3.8-5.3-0.8-7.8c3-2.5,2.4-5.4-1.4-6.4c-3.8-1-4.9-4.4-2.4-7.5
		c2.4-3.1,1.2-5.7-2.7-6c-3.9-0.2-5.7-3.3-3.9-6.8c1.7-3.5,0-5.9-3.8-5.3c-3.9,0.6-6.2-2-5.2-5.8c1-3.8-1.2-5.8-4.8-4.4
		c-3.6,1.4-6.5-0.7-6.3-4.6c0.2-3.9-2.3-5.4-5.6-3.3c-3.3,2.1-6.5,0.7-7.1-3.2c-0.6-3.9-3.4-4.8-6.2-2c-2.8,2.8-6.2,2-7.6-1.6
		c-1.4-3.7-4.3-4-6.5-0.7c-2.1,3.3-5.7,3.3-7.8,0c-2.1-3.3-5.1-3-6.5,0.7c-1.4,3.7-4.8,4.4-7.6,1.6c-2.8-2.8-5.6-1.9-6.2,2
		c-0.6,3.9-3.8,5.3-7.1,3.2c-3.3-2.1-5.8-0.7-5.6,3.3c0.2,3.9-2.7,6-6.3,4.6c-3.7-1.4-5.8,0.6-4.8,4.4c1,3.8-1.4,6.4-5.2,5.8
		c-3.9-0.6-5.6,1.8-3.8,5.3c1.8,3.5,0,6.6-3.9,6.8c-3.9,0.2-5.1,2.9-2.7,6c2.4,3.1,1.4,6.4-2.4,7.5c-3.8,1-4.4,3.9-1.4,6.4
		c3,2.5,2.7,6-0.8,7.8c-3.5,1.8-3.5,4.8,0,6.5c3.5,1.8,3.8,5.3,0.8,7.8c-3,2.5-2.4,5.4,1.4,6.4c3.8,1,4.8,4.4,2.4,7.5
		c-2.4,3.1-1.3,5.7,2.7,6c3.9,0.2,5.6,3.3,3.9,6.8c-1.8,3.5,0,5.9,3.8,5.3c3.9-0.6,6.2,2,5.2,5.8c-1,3.8,1.2,5.8,4.8,4.4
		c3.7-1.4,6.5,0.7,6.3,4.6c-0.2,3.9,2.4,5.4,5.6,3.3c3.3-2.1,6.5-0.7,7.1,3.2c0.6,3.9,3.4,4.8,6.2,2c2.8-2.8,6.2-2,7.6,1.6
		c1.4,3.7,4.3,4,6.5,0.7c2.1-3.3,5.7-3.3,7.8,0c2.1,3.3,5.1,3,6.5-0.7c1.4-3.7,4.8-4.4,7.6-1.6c2.8,2.8,5.6,1.9,6.2-2
		c0.6-3.9,3.8-5.3,7.1-3.2c3.3,2.1,5.8,0.7,5.6-3.3c-0.2-3.9,2.7-6,6.3-4.6c3.7,1.4,5.8-0.6,4.8-4.4c-1-3.8,1.4-6.4,5.2-5.8
		c3.9,0.6,5.6-1.8,3.8-5.3c-1.8-3.5,0-6.6,3.9-6.8c3.9-0.2,5.1-2.9,2.7-6c-2.4-3.1-1.4-6.4,2.4-7.5c3.8-1,4.4-3.9,1.4-6.4
		C135.3,79.4,135.7,75.9,139.1,74.1z"/>
            </g>
        </svg>
    </div>
    <div class="white-part">

        <div class="additionnal-1">
            <div class="additionnal-2">
                <div class="fond-hexagone">
                    <img src="{{ asset('image/bg-image.jpg') }}" alt="" srcset="">
                </div>
                <div class="content">
                    <h2>CERTIFICATE -
                        {% for star in range(1,certificate.mentionToInt) %}
                            <svg class="star" height="511pt" viewBox="0 -10 511.98685 511" width="511pt" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" fill="#0aaaea"/></svg>
                        {% endfor %}
                    </h2>
                    <h1 style="margin-bottom: 5px">
                        <u>Techzara Madagascar</u>
                    </h1>
                    <br/>
                    <h3>This certificate is proudly presented to : </h3>
                    <br />
                    <h4 class="name">{{ certificate.fullName }}</h4>
                    <br />
                    <p class="first-line">Has successfully completed in: </p>
                    <img src="{{ asset('image/tz-tampo.png') }}" class="tz_image" alt="">
                    <h4 class="territory">{{ certificate.challenge }}</h4>
                    <p class="mention">Challenge : <mark>{{ certificate.type ? certificate.type : 'Dev' }}</mark> | Mention :  <mark>{{ certificate.mention }}</mark></p>
                    <div class="footer">
                        <span>Techzara <script>document.write((new Date()).getFullYear().toString())</script></span>
                        <span>No. {{ certificate.id ~ '/' ~ certificate.createdAt|date('Y') }}</span>
                        <span>ID : {{ certificate.certificateId }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
