{% extends 'base.html.twig' %}

{% block body %}
    <div class="intro-section custom-owl-carousel" id="home-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 mr-auto" data-aos="fade-up">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" value="Enregistrer" class="btn d-block w-100 btn-primary">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="owl-carousel slide-one-item-alt">
                        <img src="{{ asset('techzara_image/community.jpg') }}" alt="Team building" class="img-fluid slide-1">
                        <img src="{{ asset('techzara_image/electronique.jpg') }}" alt="Electronics and robotics community"
                             class="img-fluid slide-1">
                        <img src="{{ asset('techzara_image/meetup.jpg') }}" alt="Saturday meetup" class="img-fluid slide-1">
                        <img src="{{ asset('techzara_image/event.jpg') }}" alt="Hackathon inter university" class="img-fluid slide-1">
                    </div>
                    <div class="owl-custom-direction">
                        <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
                        <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
